<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.ums.dao.UserDao">
    <resultMap id="userInfos" type="com.tan.ums.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="update_time" jdbcType="DATE" property="updateTime"/>
    </resultMap>

    <insert id="add" parameterType="com.tan.ums.entity.UserEntity">
        <!--注意这里的表名用的是配置分表时的抽象表名，而不是具体的表名-->
        insert into table_user
        (id, nick_name, pwd, phone, sex, address)
        values
        (
          #{req.id, jdbcType=BIGINT},
          #{req.nickName, jdbcType=VARCHAR},
          #{req.pwd, jdbcType=VARCHAR},
          #{req.phone, jdbcType=VARCHAR},
          #{req.sex, jdbcType=VARCHAR},
          #{req.address, jdbcType=VARCHAR}
        )
    </insert>

    <select id="checkPhoneIsExit" resultMap="userInfos">
      select * from table_user  where phone = #{phone}
    </select>

    <select id="query" resultMap="userInfos">
      select * from  table_user where 1 = 1
        <if test="req.nickName != null and req.nickName != ''">
            AND nick_name LIKE CONCAT('%',#{req.nickName},'%')
        </if>
        <if test="req.phone != null and req.phone != ''">
            AND phone LIKE CONCAT('%',#{req.phone},'%')
        </if>
        order by id desc
        limit #{req.pageNum}, #{req.pageSize}
    </select>

    <select id="queryById" resultMap="userInfos">
        select * from table_user where id = #{id}
    </select>
</mapper>