<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.ums.dao.UserDao">
    <resultMap id="userInfos" type="com.tan.ums.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <select id="checkPhoneIsExit" resultType="com.tan.ums.entity.UserEntity">
        select * from t_user where phone = #{phone}
    </select>

    <insert id="add" useGeneratedKeys="true">
        insert into t_user (nick_name, pwd, phone, sex, address, del_flag, create_time, update_time) values
        (
          #{req.nickName}, #{req.pwd}, #{req.phone}, #{req.sex}, #{req.address}, #{req.delFlag}, now(), now()
        )
    </insert>
</mapper>