<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.oms.dao.OrderMapper">
    <!--基础CRUD、分页、列表部分 begin-->
    <insert id="save" parameterType="com.tan.oms.entity.OrderDomain"
            keyProperty="id" useGeneratedKeys="true">
        <!--注意这里的表名用的是配置分表时的抽象表名，而不是具体的表名-->
        insert into table_order
        (
            id,
            sharding_db_id,
            sharding_table_id
        )
        values
        (
            #{orderDomain.id},
            #{orderDomain.shardingDbId},
            #{orderDomain.shardingTableId}
        )
    </insert>
</mapper>